<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" lang="en-US">
<head>
    <title>Memorable passwords generator</title>
    <script type="text/javascript">
        function form_params(form) {
            const params = [];
            const length = form.elements.length;
            for (let i = 0; i < length; i++) {
                const element = form.elements[i];

                if (element.tagName === 'TEXTAREA') {
                    params[element.name] = element.value
                } else if (element.tagName === 'INPUT') {
                    if (element.type === 'text' || element.type === 'hidden' || element.type === 'password' || element.type === 'number') {
                        params[element.name] = element.value
                    } else if (element.type === 'radio' && element.checked) {
                        if (!element.value)
                            params[element.name] = "on";
                        else
                            params[element.name] = element.value

                    } else if (element.type === 'checkbox' && element.checked) {
                        if (!element.value)
                            params[element.name] = "on";
                        else
                            params[element.name] = element.value
                    }
                }
            }
            return params;
        }

        function buildUrl(url, parameters) {
            let qs = "";
            for (const key in parameters) {
                const value = parameters[key];
                qs += encodeURIComponent(key) + "=" + encodeURIComponent(value) + "&";
            }
            if (qs.length > 0) {
                qs = qs.substring(0, qs.length - 1); //chop off last "&"
                url = url + "?" + qs;
            }
            return url;
        }

        let ajaxRequest;  // The variable that makes Ajax possible!
        function ajaxFunction() {
            // Create a function that will receive data sent from the server
            ajaxRequest.onreadystatechange = function () {
                if (ajaxRequest.readyState === 4) {
                    document.getElementById('passwords').innerHTML = ajaxRequest.responseText;
                }
            };
            ajaxRequest.open("GET", buildUrl('/api/gen', form_params(document.pass_generator)), true);
            ajaxRequest.send(null);
        }
    </script>
    <style>
        html {
            font-size: 2.5vmin;
        }

        input {
            font-size: 1.8vmin;
        }
    </style>
</head>
<body>
<!--suppress HtmlUnknownTarget -->
<form action="/gen" method="get" name="pass_generator">
    <label>
        <input type="checkbox" name="letters" checked readonly onclick="return false">
        a-z
    </label>
    <label>
        <input type="checkbox" name="caps">
        A-Z
    </label>
    <label>
        <input type="checkbox" name="nums">
        0-9
    </label>
    <label>
        <input type="checkbox" name="symbs">
        .-=<span style="color: gray">...</span>
    </label>
    <br><br>
    <label>
        Number
        <small>(of passwords to generate)</small>
        : <br>
        <input type="number" name="num" value="12">
    </label> <br>
    <label>
        Syllables
        <small>(one syllable = approx. 2 symbols)</small>
        : <br>
        <input type="number" name="sylls" value="4">
    </label> <br>

    <p><input id="submitter" type="button" value="Generate" onclick="ajaxFunction();"></p>
</form>

<div id="notice">
    If no password is easy to remember you think, remove any checks (<input type="checkbox" checked>). <br>
    Then you can complicate generated passwords by adding CapitalS, numb3rs or $ymbols manually.<br><br>
    <b>E. g.</b>
    <pre>whelao -> Whelao -> Wh3la0 -> Wh3l@0</pre>
</div>

<hr>

<pre>
    <div id="passwords">
    </div>
</pre>

<script type="text/javascript">
    try {
        // Opera 8.0+, Firefox, Safari
        ajaxRequest = new XMLHttpRequest();
    } catch (e) {
        // Internet Explorer Browsers
        try {
            ajaxRequest = new ActiveXObject("Msxml2.XMLHTTP");
        } catch (e) {
            try {
                ajaxRequest = new ActiveXObject("Microsoft.XMLHTTP");
            } catch (e) {
                // Something went wrong
                document.getElementById('submitter').type = 'submit'
            }
        }
    }
</script>
<!-- Copyright by Niki-Timofe (https://vk.com/id8930220) -->
</body>
</html>